version: '3.5'

services:
  glpi:
    build:
      context: .
    env_file:
      - .env
    image: glpi-${GLPI_VERSION}_aplpine-3.8:1.0.0
    container_name: glpi-${GLPI_VERSION}
    ports:
      - "7000:80"
    hostname: srv-glpi
