version: '3.6'

services:
  glpi:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    image: 172.16.21.201:5000/pge/glpi-${GLPI_VERSION}_${OS_DIST}:1.0.0
    container_name: glpi-${GLPI_VERSION}
    ports:
      - "5011:80"
    hostname: glpi-srv
    dns:
      - 0.0.0.0
    restart: always