[global]
    workgroup = DOMAINNAME
    security = ads
    realm = DOMAINNAME.LOCAL
    add machine script = /usr/sbin/useradd  -c Machine -d /var/lib/nobody -s /bin/false %m$
    domain logons = no
    domain master = no
    encrypt passwords = true
    ldap ssl = no
    load printers = no
    printcap name = /dev/null
    log file = /var/log/samba/log.%m
    max log size = 50
    netbios name = SRV-GLPI
    server string = SRV-GLPI
    wins server = DOMAINNAME
    winbind cache time = 60
    winbind enum groups = yes
    winbind enum users = yes
    winbind use default domain = yes
    wins support = no
    template homedir = /home/%D/%U
    usershare allow guests = no
    winbind refresh tickets = yes
    name resolve order = wins lmhosts bcast host
    winbind separator = /
    client use spnego = yes
    ntlm auth = yes
    client ntlmv2 auth = yes
    template shell = /bin/sh
    winbind offline logon = yes